
.button {
  cursor: pointer;
  border: 0;
  outline: none;
  background: none;
  border-radius: 2px;
  padding: 14px 28px;
}

.button-primary {
  background-color:  var(--clr-primary-300);
  color:white;
  font-weight: 600;
}